body {
    background-color: black;
}

canvas {
    display: block;
    margin: 16px auto;
}

#beginning {
    position: absolute;
    top: 50px;
    left: 20vw;
    height: 70vh;
    width: 60vw;
    background-color: whitesmoke;
    box-shadow: 0 0 6px 1px black;
    border-radius: 6px;
    padding: 16px;
}